<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet dan jaringan -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Lokasi -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Foreground service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Untuk Android 14+ jika foreground service memakai tipe dataSync -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <!-- Untuk Android 13+ agar notifikasi bisa tampil -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TugasAkhir">

        <!-- GOOGLE MAPS -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="ISI_API_KEY_KAMU_DI_SINI" />

        <!-- LOGIN -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- ACTIVITY -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".HistoryActivity"
            android:exported="false" />

        <activity
            android:name=".DetailLocationActivity"
            android:exported="false" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />

        <!-- SERVICE UNTUK MONITORING SENSOR -->
        <service
            android:name=".AlertMonitorService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

    </application>

</manifest>